@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap&subset=cyrillic-ext');
.main{
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-left: 38px;
    margin-top: 32px;
}
.nav{
display: flex;
flex-direction: row;
align-items: center;
}
.plain1{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 122px;
    
}
.nav-span{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.thr{
    width: 21px;
    height: 21px;
    background-color: #FCE4E2;
    color: #E4281E;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 2px;
    
}
.jobs{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}
.central{
    margin-left: 24px;
    margin-right: 2px;
}
.nav-button{
    height: 38px;
left: 52.16%;
right: 0%;
top: calc(50% - 38px/2);

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header-button{
   width: 177px;
   height: 33px;
   border: 2px solid grey;
   border-radius: 0.3em;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.button{
    left: 7px;
}
.min1{
    display: flex;
    flex-direction:column;
    
}
.enter-phraze{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    left: 60px;
    top: 200px;
}
.under-enter{
    position: relative;
    width: 520px;
    height: 81px;
    font-family: 'Roboto', sans-serif;
    color: grey;
    top: 220px;
    left: 60px;
}
.enter-button{
    position: relative;
    width: 216px;
    height: 24px;
    background-color: black;
    border: 1px solid black;
    border-style: 0.2em;
    top: 250px;
    left: 60px;
}
.enter-button-text{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-left: 18px;
}
.first-photo-container{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    justify-content: space-between;
}
.photo-block{
    display: flex;
    flex-direction: column;
    margin-top: 125px;
    margin-left: 0;
}
.first-photo{
    display: flex;
    justify-content: flex-end;
    height: 258px;
}
.second-photo{
    height: 418px;
}
#block3, #block4, #block5{
	margin-top: 160px;
}
main{
	margin-left: 116px;
}
ul[class],
ol[class] {
	padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}
#block2{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 53px;
	margin-left: 60px;
}
.block2-content{
	width: 350px;
	height: 243px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.block2-content h3{
	font-family: 'Roboto';
	font-size: 30px;
}
.block2-content p{
	font-family: 'Roboto';
	font-size: 16px;
	color: rgba(0, 0, 0, 0.6);
}
#block2 img{
	width: 81px;
	height: 65px;	
}
#block3img img{
	width: 100%;
}
#block3-list li{
	list-style-image: url(./img2/listimgblock3.png);
}
.list-h2{
	font-family: 'Roboto';
	font-size: 38px;
	margin-top: 100px;
}
.list-item{
	margin-top: 24px;
	font-family: 'Roboto';
	font-size: 16px;
	color: rgba(0, 0, 0, 0.6);
}
.first-li{
	margin-top: 36px;
}
#block3img img, #block4img img, #block5img img{
	width: 90%;
}
#block3-list, #block4-list, #block5-list{
	margin: 0 auto;
	width: 30%;
}
#block3{
	margin-top: 320px;
}
#block3, #block4, #block5{
	display: flex;
	justify-content: space-between;
	margin-left: 60px;
}
#block4-list li, #block5-list li{
	list-style-image: url(./img2/listimgblock4-5.png);
}
.background{
    display: flex;
    flex-direction: row;
    color: white;
    width: 80%;
margin-top: 220px;
    margin-left: 10%;
    justify-content: space-between;
}
.back-phraze1{
    font-family: 'Roboto', sans-serif;
    font-size: 46px;
}
.first-phraze{
    width: 40%;
}
.second-phraze{
    width: 647px;
    height: 406px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.photo-block6{
    margin-top: 160px;
    background: url('./img2/photoblock6.jpg');
    width: 100%;
    height: 726px;
}
.block6-button{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
#block7 img{
	width: 80px;
	height: 64px;
}
#block7 h3{
	font-family: 'Roboto';
	font-size: 30px;
}
#block7 p{
	font-family: 'Roboto';
	font-size: 16px;
}
#block7{
	justify-content: space-between;
	display: flex;
    margin: 240px 0px 160px 60px;
}
.block7-content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 276px;
	width: 45%;
}
#button-block7-1{
	font-family: 'Roboto';
	width: 192px;
	height: 24px;
	background: #000000;
	border-radius: 2px;
	color: #fff
}
#your-email{
	display: flex;
}
#input-email{
	width: 300px;
	height: 40px;
}
#button-block7-2{
	height: 45	px;
	margin-left: 20px;
	width: 90px;
	background: #000000;
	color: #fff;
}
footer{
 width: 90%;
 margin-left: 60px;
}
footer hr{
	color: rgba(0, 0, 0, 0.05);
}
#img-footer img{
	width: 80px;
	height: 26px;
}
#img-footer{
	width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#last-box{
	display: flex;
}
#footer-ul{
	display: flex;
	justify-content: space-between;
    
}
#footer-ul li{
	list-style-type: none;
}
#list-footer{
	width: 50%;
}
#gray-li{
	font-size: 16px;
	font-family: 'Roboto';
	color: rgba(0, 0, 0, 0.6);
}
.footer-li{
	font-size: 16px;
	font-family: 'Roboto';
}